<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="Author" content="Bob">
        <meta charset="UTF-8">
        <meta name="description" content="An error page for an API for a Todo List: https://roadmap.sh/projects/todo-list-api">
        <title>Todo List API Error Page</title>
        <link rel="stylesheet" href="blackandwhite.css">
    </head>
    <body>
        {% if message %}
            <h1>Error {{ message }}</h1>
        {% else %}
            <h1>Something went wrong</h1>
        {% endif %}
    </body>