<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="Author" content="Bob">
        <meta charset="UTF-8">
        <meta name="description" content="A register for an API for a Todo List: https://roadmap.sh/projects/todo-list-api">
        <title>Todo List API Register Page</title>
        <link rel="stylesheet" href="blackandwhite.css">
    </head>
    <body>
        <h1>Register</h1>
        
        <hr>

        <form action="/register" method="POST">
            <input type="name" name="name" placeholder="Name"> <br>
            <input type="email" name="email" placeholder="Email"> <br>
            <input type="password" name="password" placeholder="Password"> <br>
            <input type="submit" value="register">
        </form>
    </body>