<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="Author" content="Bob">
        <meta charset="UTF-8">
        <meta name="description" content="An API for a Todo List: https://roadmap.sh/projects/todo-list-api">
        <title>Todo List API</title>
        <link rel="stylesheet" href="blackandwhite.css">
    </head>
    <body>
        <h1>Todo List API</h1>

        <hr>

            <a href="/auth">Login</a>
            <br>
            <a href="/users">Users</a>

    </body>

</html>