<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="author" content="Bob">
        <meta name="description" content="Website to convert between different units">
        <meta charset="UTF-8">
        <title>Unit Converter Mini-Project</title>
        <link rel="stylesheet" href="unit-converter.css">
    </head>
    <body>
        <h1>Unit Converter</h1>

        <hr>

        <br><strong>Index</strong>
        <br>
        <a href="#units">Skip to unit-converter</a>

        <hr>

        <h2>What this is</h2>

        <p>Hi! This is a mini project that converts between different units, it hosts a variety of different measurements for weight, height, & temperature</p>

        <h2>How I made this</h2>

        <p>I made this using 3 different languages, and while making this project I also had to learn to use github! the languages I used were:</p>
        <dl>
            <dt>Python</dt>
            <dd>
                I already knew how to use Python going into this so I didn't learn to much, but it's a good warmup for what's next.
            </dd>
            <dt>Html</dt>
            <dd>I had to learn this from scratch, having had no prior knowledge on html. To learn html, I used the youtube video linked on the <abbr title="roadmap.sh"><a href="https://roadmap.sh/">Coding Roadmap</a></abbr>. Yes I know that this is not what I'm meant to do here but shut up I want to show off like a little atleast I watched like half of that 4h video. Anyways it's basically what it says wuth just a bit more at the start right? Like a website for recipes that has a 2 paragraph long intro split into 10 word sentences with an add in the middle.</dd>
            <dt>CSS</dt>
            <dd>Ok ngl I didn't really learn any I just copy and pasted what the guy did in the video to make it dark mode and not light mode cuz dark mode is (objectively) better.</dd>
        </dl>

        <div id="units">
            <p>The different thingy things:</p>
            <a href="/converter/length">Length Converter</a>
            <br>
            <a href="/converter/weight">Weight Converter</a>
            <br>
            <a href="/converter/temperature">Temperature Converter</a>
        </div>


    </body>
</html>